@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
html {
    font-family: "Plus Jakarta Sans", sans-serif;
}
.wrapper {
    height: 100vh;
}
#navigasi {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    padding: 1.5rem 12%;

    left: 0;
    right: 0;
    top: 0;
}
#navigasi img {
    max-width: 156px;
}
#navigasi a {
    margin: 0; /* Menghapus margin default */
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
}
#button-login {
    display: flex;
    background-color: rgba(6, 77, 63, 1);
    width: 131px;
    height: 48px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
#button-login a {
    color: rgba(255, 255, 255, 1);
}

/* hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 50px; */
    padding: 1.5rem 12%;
    height: 80vh;
}

.content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items:center; */
}

.content h1 {
    font-size: 54px;
    line-height: 120%;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
    /* font-weight:800; */
}

.content h3 {
    font-size: 24px;
    line-height: 160%;
    color: rgba(0, 0, 0, 1);
    text-align: justify;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}

.content button {
    width: 263px;
    height: 66px;
    color: white;
    border-radius: 35px;
    font-size: 22px;
    background-color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    line-height: 120%;
}

.il-hero {
    height: 100vh; /* Sesuaikan dengan tinggi layar */
}

.il-hero img {
    position: absolute;
    width: 830px;
    height: auto; /* Hindari distorsi */
    right: 0;
    top: 0;
    z-index: -9999;
}

.il-hero .il-hero-img {
    width: 910px;
    top: 10%; /* Pastikan gambar ini bergeser ke bawah */
}
.announcement {
    height: 90vh;
    padding: 1.5rem 12%;
}
.announce {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.il-announce img {
    left: 0;
    position: absolute;
}
.content-announce {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: start;
    /* background:black; */
}
.content-announce h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 120%;
}
.event-container {
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto;
    padding: 10px;
}

.event-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.event-icon i {
    font-size: 50px;
    color: #1e7e34; /* Warna hijau sesuai gambar */
}

.event-card h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    margin: 0;
}

.event-card p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;

    margin: 0;
}

.event-date {
    font-size: 14px;
    color: gray;
    display: flex;
    align-items: center;
    gap: 5px;
}
.berita{
    height: 80vh;
    padding: 1.5rem 6%;
}
.publikasi {
    height: 100vh;
    padding: 1.5rem 6%;
    left: 0;
    background: rgba(6, 77, 63, 1);
    z-index: -100;
    max-width: 100%;
    overflow-x: hidden;
    word-wrap: break-word;
}
.overlay-publikasi {
    position: absolute;
    left: 0;
    margin-top: -20px;
    /* z-index:1; */
}
.container-header {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 90px;
    z-index: 9999;
    position: relative;
}
.container-title h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 120%;
}
.container-button {
    display: inline-flex;
    align-items: center;

    position: relative;
}
.circle {
    width: 150px;
    height: 150px;
    background-color: #4f9d40;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    z-index: 0;
}

.container-button a {
    display: flex;

    color: black;
    text-decoration: none;
    z-index: 100;
    background: rgba(217, 232, 193, 1);
    width: 206px;
    height: 63px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
#scroll-container {
    overflow-x: auto;
    /* white-space: nowrap; */
    padding-bottom: 10px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;

    scrollbar-width: thin; /* Untuk browser Firefox */
    -ms-overflow-style: none; /* Untuk IE dan Edge */
}

#container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Memastikan card berada di tengah */
    align-items: center;
    gap: 20px; /* Beri jarak antar card */
    padding: 20px; /* Opsional: beri padding agar tidak terlalu mepet */
}

#container-card .col-md-6 {
    display: flex; /* Membantu card tetap proporsional */
    justify-content: space-evenly;
    max-width: 548px; /* Batasi lebar agar lebih rapi */
}

#card-announce {
    /* background: #f2f2f2; */
    background: rgba(240, 240, 240, 1);
    border-radius: 10px;
    border: none;
    height: 338px;
    width: 548px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border: solid 0.5px rgba(0, 0, 0, 1);
}
#card-title {
    font-size: 18px;
    font-weight: bold;

    border-bottom: 3px solid black;
}

.announcement i {
    margin-right: 8px;
    color: #666;
}

.announcement p {
    margin: 5px 0;
    font-size: 14px;
}

.more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%; /* Memastikan parent mengisi lebar penuh */
}

.more-button a {
    background: rgba(6, 77, 63, 1);
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.25);
    width: 227px;
    height: 56px;
    color: white; /* Pastikan teks terlihat */
    text-decoration: none;
    display: flex; /* Flex agar teks berada di tengah vertikal */
    justify-content: center;
    align-items: center;
    border-radius: 5px; /* Opsional, buat sudut lebih halus */
    font-size: 22px;
    font-weight: bold;
}

.publikasi-content h1 {
    font-size: 2.5rem;
}
.publikasi-content p {
    font-size: 1.4rem;
}

#card-list {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    height: 24rem;
    width: 20rem;
    color: black;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid rgba(188, 225, 148, 1);
    background: rgba(250, 250, 250, 1);
}

.user-image {
    width: 19.5rem;
    height: 18rem;
    padding: 20px 20px 0 20px;

    object-fit: cover;
}

.card-title {
    color: black;
    padding: 0 10px 0 10px;

    font-size: 18px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    line-height: 120%;
    margin: 0;
    /* margin: 14px 0 40px; */
}

#card-name h5 {
    font-size: 18px;
    font-weight: 500;
}
.nav-button {
    width: 70px;
    height: 70px;
    border: 3px solid #d4e3ba; /* Warna outline */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.nav-button:hover {
    background-color: rgba(212, 227, 186, 0.2); /* Efek hover */
    transform: scale(1.1);
}

.nav-button i {
    color: #d4e3ba; /* Warna ikon */
    font-size: 30px;
}
.card-list .card-item .message-button {
    font-size: 1rem;
    padding: 5px 25px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid black;
    transition: 0.2s ease;
    text-decoration: none;
}
.card-list .card-item .message-button:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    color: black;
}

#link-utama a {
    font-size: 22px;
}
#kontak-kami p {
    font-size: 22px;
}
.list-publikasi {
    margin: 2rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid black;
}
.video {
    padding: 4rem 7% 1.4rem;
    background: rgba(241, 255, 225, 1);
    height: 65vh;
    color: white;
    /* padding: 50px 15px; */
}
.slider-container {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;
}

.cards {
    position: relative;
    height: 500px;
    width: 430px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}
.cards label {
    position: absolute;
    width: 430px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}
.cards .card {
    position: relative;
    height: 100%;
    background-color: #323444;
    border-radius: 10px;
    padding: 30px 35px;
}
.cards .video-card {
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    margin-top: 23px;
    width: 86%;
    height: 220px;
    transition: all 0.7s;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}


.album-card {
    border-radius: 20px;
    overflow: hidden;
}

.album-card iframe {
    border-radius: 20px;
}

.album-title {
    font-size: 14px;
    margin-top: 8px;
}
.album-date {
    font-size: 12px;
    color: gray;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.artikel {
    padding: 4rem 7% 1.4rem;
}
.artikel .card {
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 100%;
}
.artikel .card:hover {
    transform: translateY(-5px);
}
.icon-wrapper {
    background-color: #eef6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.icon-wrapper i {
    font-size: 30px;
    color: #1e90ff;
}

#card-video {
    width: 362px;
    height: 262px;
}

.video-frame iframe {
    border-radio: 20px;
    width: 362px;
    height: 182px;
}
.il-video {
    height: 50vh;
    /* right: 0; */
}
.il-video img {
    position: absolute;
    right: 0;
}
.il-video .il-hero-video {
    right: 3%;
}
#button-video {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#button-video h2 {
    font-size: 55px;
    line-height: 120%;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
}
#button-video p {
    font-size: 18px;
    line-height: 120%;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
}
#button-video a {
    font-size: 20px;
    line-height: 24px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
.row {
    flex-wrap: nowrap;
} */

@media (max-width: 991.98px) {
    /* Ukuran breakpoint Bootstrap untuk navbar collapse */
    .navbar {
        position: fixed; /* Menempel di atas */
        top: 0;
        left: 0;
        width: 100%;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(
            255,
            255,
            255,
            0.3
        ); /* Warna putih dengan transparansi */
        backdrop-filter: blur(10px); /* Efek blur agar tetap elegan */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px 25px; /* Tambahkan padding agar ada ruang */
    }

    .navbar-nav {
        margin-top: 10px; /* Tambahkan sedikit margin agar tidak terlalu mepet */
    }
    .navbar-nav .nav-link {
        font-size: 14px !important;
    }

    .hero {
        flex-direction: column-reverse; /* Gambar di atas, teks di bawah */
        text-align: center;
        justify-content: center;
    }

    .content {
        max-width: 90%;
        align-items: center;
        /* background:black; */
    }
    .il-hero img {
        position: absolute;
        width: 300px;
        height: auto;
        right: 0;
        top: 0;
        z-index: -9999;
    }
    .il-hero .il-hero-img {
        width: 300px;
        top: 16%; /* Pastikan gambar ini bergeser ke bawah */
    }
    .il-announce img {
        width: 300px;
    }
    .content-announce h1 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 800;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 120%;
    }
    .event-icon i {
        font-size: 25px;
    }
    .event-card h2 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 700;
        font-size: 15px;
        line-height: 120%;
        margin: 0;
    }
    .event-card p {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 120%;
        margin: 0;
    }
    .event-date {
        font-size: 12px;
        color: gray;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .overlay-publikasi{
        display:none;
    }
    .nav-button {
        width: 50px;
        height: 50px;
       
    }
    .button-login {
        margin-top: 20px; /* Jarak tombol login */
        height: 40px;
    }

    #card-name h5 {
        font-size: 15px;
        font-weight: 500;
    }
    .il-video img {
        display: none;
    }
    .video {
        height: 100vh;
    }
    #card-video {
        width: 302px;
        height: 222px;
    }

    .video-frame iframe {
        border-radio: 20px;
        width: 302px;
        height: 142px;
    }
    #button-video {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    #button-video h2 {
        font-size: 55px;
        line-height: 120%;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 800;
    }
    #button-video p {
        font-size: 18px;
        line-height: 120%;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 400;
    }
    #button-video a {
        font-size: 20px;
        line-height: 24px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 500;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Agar scroll terlihat di mobile */
@media (max-width: 768px) {
    .video-container {
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    #card-name h5 {
        font-size: 15px;
        font-weight: 500;
    }

    .hero {
        flex-direction: column-reverse; /* Gambar di atas, teks di bawah */
        text-align: center;
        justify-content: center;
    }
    .content {
        max-width: 90%;
        align-items: center;
        /* background:black; */
    }
    .il-hero img {
        position: absolute;
        width: 300px;
        height: auto;
        right: 0;
        top: 0;
        z-index: -9999;
    }

    .il-hero .il-hero-img {
        width: 300px;
        top: 10%; /* Pastikan gambar ini bergeser ke bawah */
    }
    .content h1 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 800;
        font-size: 3rem;
        line-height: 120%;
    }
    .content h3 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 500;
        font-size: 2rem;
        line-height: 120%;
    }
    .content button {
        width: 163px;
        height: 36px;
        font-size: 16px;
    }

    .il-announce img {
        display: none;
    }
    .container-title h2 {
        font-size: 30px;
    }
    .circle {
        display: none;
    }
    .container-button a {
        font-size: 18x;
        width: 146px;
        height: 43px;
        margin-top: 40px;
    }
    .container-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
    }
    .card-title {
        color: black;
        padding: 0;
        font-size: 12px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 500;
        line-height: 120%;
        margin: 0;
        /* margin: 14px 0 40px; */
    }
    #card-video {
        width: 202px !important;
        height: 162px !important;
    }

    .video-frame iframe {
        border-radio: 20px;
        width: 202px !important;
        height: 122px !important;
    }
    #button-video h2 {
        font-size: 30px;
        line-height: 120%;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 800;
    }
    #button-video p {
        font-size: 10px;
        line-height: 120%;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 400;
    }
    #button-video a {
        font-size: 10px;
        line-height: 24px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 500;
        height: 30px;
        width:120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* media queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
    .il-hero img {
        position: absolute;
        width: 300px;
        height: auto;
        right: 0;
        top: 0;
        z-index: -9999;
    }
    .il-hero .il-hero-img {
        width: 300px;
        top: 6%; /* Pastikan gambar ini bergeser ke bawah */
    }
    .content h1 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 800;
        font-size: 2.5rem;
        line-height: 120%;
    }
    .content h3 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 500;
        font-size: 2rem;
        line-height: 120%;
    }
    .content button {
        width: 163px;
        height: 46px;
        font-size: 12px;
    }
    .il-announce img {
        width: 300px;
    }
    #card-video {
        width: 302px;
        height: 222px;
    }

    .video-frame iframe {
        border-radio: 20px;
        width: 302px;
        height: 142px;
    }
}

/* Tablet */
@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }
    .il-hero img {
        position: absolute;
        width: 300px;
        height: auto;
        right: 0;
        top: 0;
        z-index: -9999;
    }
    .il-hero .il-hero-img {
        width: 300px;
        top: 6%; /* Pastikan gambar ini bergeser ke bawah */
    }
    .announcement {
        height: 100vh;
    }
    .announce {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: center;
        gap: 0;
    }

    .event-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-announce h1 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 800;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 120%;
    }
    .event-icon i {
        font-size: 25px;
    }
    .event-card h2 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 700;
        font-size: 15px;
        line-height: 120%;
        margin: 0;
    }
    .event-card p {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 120%;
        margin: 0;
    }
    .event-date {
        font-size: 12px;
        color: gray;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    #card-name h5 {
        font-size: 15px;
        font-weight: 500;
    }
    #card-list {
        height: 22rem;
        width: 18rem;
    }
    .user-image {
        width: 16rem;
        height: 18rem;
    }
    .album-card iframe {
        width: 200px;
    }
}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 52%;
    }
    .navbar-brand img {
        width: 100px;
    }
    .image {
        height: 50px;
        width: 100px;
    }
    .il-hero img {
        position: absolute;
        width: 200px;
        height: auto;
        right: 0;
        top: 0;
        z-index: -9999;
    }
    .il-hero .il-hero-img {
        width: 200px;
        top: 6%; /* Pastikan gambar ini bergeser ke bawah */
    }
    .hero {
        height: 70vh;
    }
    .content h1 {
        font-size: 2.5rem;
    }
    .content h3 {
        font-size: 1.5rem;
        line-height: 20px;
    }
    .content-announce h1 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 800;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 120%;
    }
    .event-icon i {
        font-size: 20px;
    }
    .event-card h2 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 700;
        font-size: 10px;
        line-height: 120%;
        margin: 0;
    }
    .event-card p {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 700;
        font-size: 10px;
        line-height: 120%;
        margin: 0;
    }
    .event-date {
        font-size: 10px;
        color: gray;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .publikasi {
        margin-top: -150px;
    }
    #card-name h5 {
        font-size: 15px;
        font-weight: 500;
    }
    #card-list {
        height: 22rem;
        width: 18rem;
    }
    .user-image {
        width: 16rem;
        height: 18rem;
    }
    .circle {
        display: none;
    }
    .overlay-publikasi {
        display: none;
    }
    .nav-button {
        width: 40px;
        height: 40px;
       
    }
   
    .container-button a {
        font-size: 16x;
        width: 126px;
        height: 53px;
        margin-top: 40px;
    }

    .more-button a {
        width: 110px;
        font-size: 8px;
    }
    #button-video {
        display: flex;
        /* flex-direction:column; */
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-left: 0;
    }
    #button-video h2 {
        font-size: 25px;
        line-height: 120%;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 800;
    }
    #button-video p {
        font-size: 10px;
        line-height: 120%;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 400;
    }
    #button-video a {
        font-size: 10px;
        line-height: 24px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 500;
        height: 30px;
        width:120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
